@import './App.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}


#MainContentContainer {
    /* this is the container the middle section in the body is in...  */
    
}

:root{
    --primary-gradient-text: -webkit-linear-gradient(#dc07d8, #ffffff);
    --primary-btn: linear-gradient(180deg, #ffffff 50%,#7d357c);
    --blue-gradient: linear-gradient(97.05deg, rgba(255, 0, 255, 0.727) 3.76%, rgb(174, 60, 174) 100%);

    /* regular/matte colors */
    --primary:#dc07d8;
    --info: rgb(19, 134, 215);

}

.form-btn {
    width: 80%;
    border-radius: 6px;
    margin-top: 5%;
    margin-bottom: 5%;
    cursor: pointer;

    font-size: 1.2rem;
    padding: 10px;
    height: 10%; 
    border: none;
    /* background: var(--primary-btn); */
    background: none;
    box-shadow: 2px 2px 2px 2px var(--primary);
    /* box-shadow: 2px 2px 2px 2px lightgray; */
    color: var(--primary);

    &:hover {
        transform: scale(1.05);
        background: purple;
        color: var(--primary);
        font-size: 1.5rem;
        text-align: center;
    }
}

.input{
    font-size: 2em;
    &:focus{
        background-color: lightgray;
        outline: 1px solid lightgray;
    }
}

