#AddNewFeedActions {
width: 100%;
}

#FeedAddNewActions {
    display: flex;
    width: 100%;
    /* border: solid black 1px; */
   
}

.left {
    position: relative;
    z-index: 1;
    width: 50%;
display: flex;
justify-content: flex-start;
/* border: solid black 1px; */
/* margin-left: 10px; */
}

.right {
    /* border: solid black 1px; */
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}