@import './body/body.css';

.headerContainer{
    height: 10%;
    max-height: 10%;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.bodyMainContainer{
 display: grid;
 grid-template-areas: "lft mid rht";
 grid-template-columns: 1fr 4fr 1fr;
 grid-template-rows: 85vh;
 width:100vw;
 height: 100%; 
 /* min-height:85vh;
 max-height:80vh;
     */
}