@import './body/body.css';

.mcBody{
    background-color: black;
}

.headerContainer{
    height: 10%;
    max-height: 10%;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.bodyMainContainer{
 display: grid;
 grid-template-areas: "lft mid";

 grid-template-columns: 1fr 10fr ;

 grid-template-rows: 85vh;
 width:100vw;
 max-width: 100%;
 height: 100%; 
 gap: 10px;
 
}
.bodyMainContainer2{
 display: grid;
 grid-template-areas: "lft mid rht";
 grid-template-columns: 1fr 8fr 2fr;
 grid-template-rows: 85vh;
 width:100vw;
 max-width: 100%;
 height: 100%; 
 gap: 10px;
 /* min-height:85vh;
 max-height:80vh;
     */
}
