.userTop{
    background-color: black;
    height:100vh;
    width:100vw;
    color:chartreuse;
    display:flex;
    flex-direction: row;
}

.left{
    background-color:red;
    width:20%;
    height:80%;
    border-radius:10%;
    margin-top:auto;
    border:solid grey 4px;
    justify-content: center;
    align-items: center;
    padding:15px;
}
.mid{
    background-color:white;
    margin:auto;
    width:50%;
    height:90%;
    border:solid grey 4px;
    border-radius:10%;
}
.right{
    background-color:blue;
    width:20%;
    height:80%;
    margin-top:auto;
    border:solid grey 4px;
    border-radius:10%;
}