/* takes extra button off of form */
.signup-btn {
  display: none;
}


      /* BRIAN!!! Make this dude go to the corner, he no listen to me*/
.x{
  margin-left:auto;
  align-self: flex-end;
}




.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */

  width: 70%;
  max-width: 70%;
  height: 70%;
  max-height: 70%;
  gap: 10px;

  border-radius: 10px;
  background: white;
  box-shadow: 1px 1px 4px 2px rgba(195, 191, 191, 0.764);

  padding-bottom: 3%;

  overflow-y: auto;
}

.signup-form hr {
  display: none;
}

.signupheader {
  width: 100%;
  margin-left: 30px;
  margin-top: 10px;
  text-align: start;
  font-size: large;
  font-family: Arial, sans-serif;
}

.line {
  width: 95%;
  color: rgba(128, 128, 128, 0.46);
  margin: 10px;
}

.input3 {
  border-radius: 5px;
  border: solid 1px rgba(128, 128, 128, 0.199);
  width: 200px;
  padding: 10px;
  margin: 10px;
  background-color: rgba(128, 128, 128, 0.084);
  outline: none;
}

.input4 {
  border-radius: 5px;
  border: solid 1px rgba(128, 128, 128, 0.199);
  width: 95%;
  padding: 10px;
  margin: 10px;
  background-color: rgba(128, 128, 128, 0.084);
  outline: none;
}

.uppc {
  width: 98%;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  /* margin-top: 3%; */
}

.location-input {
  margin: 10px;
  width: 28%;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  border: solid 1px rgba(128, 128, 128, 0.275);
 
}

.local {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 92%;
   
color: rgba(128, 128, 128, 0.623);
}

.birth-date {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  margin-top: 0%;
}

.birth-date-input {
    margin: 10px;
    width: 28%;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    border: solid 1px rgba(128, 128, 128, 0.275);
    color: rgba(128, 128, 128, 0.623);
}

.BD-label {
    width: 92%;
    color: rgba(128, 128, 128, 0.623);
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.gen {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 92%;
   
color: rgba(128, 128, 128, 0.623);
}



.gender {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgba(128, 128, 128, 0.623);
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  /* border:2px solid yellow; */
  /* margin-top: 5%; */
}

.gender input {
  width: 2em;
  height: 1.1em;
}

.signup-radio {
  border: 1px solid rgba(128, 128, 128, 0.423);
  border-radius: 5px;
  width: 25%;
  padding: 9px;


  display: flex;
  justify-content: center;
  align-items: center;
}

.motion-div {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-btnBAD {
  background-color: grey;
  border: dotted grey 4px;
  color: red;
  margin-top:100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:x-large;
  border-radius:15%;
  padding:7px;
}
.form-btnBAD:hover{
  background-color: red;
  color: grey;
  
}