/* takes extra button off of form */
.signup-btn {
    display: none;
}


.signup-form {

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 70%;
    max-width: 70%;
    height: 70%;
    max-height: 70%;
    gap: 10px;

    border-radius: 25px;
    background: white;
    box-shadow: 2px 2px 2px 2px rgba(195, 191, 191, 0.764);

    padding-top: 2%;

    overflow-y: auto;
}

.signup-form hr {
    display: none;
}

.signup-inputs {
    margin-top: 10%;
    width: 80%;
    border-radius: 15px;
    border-color: darkgray;
    box-shadow: 2px 2px grey;
    border: none;

    &:focus {
        outline: 1px solid lightgray;
        border: none;
    }
}

.name-div {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.name-div-input {
    width: 30%;
    height: 30%;
}

.email-psw-username-div {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100vh;
}

.email-psw-username-input {
    height: 28px;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    margin-top: 3%;
}

.location-input {
    width: 20%;
    height: 2em;
    border-radius: 15px;
    border: none;
    box-shadow: 2px 2px grey;
}

.birth-date {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    margin-top: 0%;
}

.birth-date-input {
    width: 20%;
    height: 2em;
    border-radius: 15px;
    border: none;
    box-shadow: 2px 2px grey;

}

.gender {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 100%;

    margin-top: 5%;
}

.gender input {
    width: 2em;
    height: 1.1em;
}

.signup-radio {
    border: 1px solid black;
    border-radius: 15px;
    height: 45px;
    width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}


.motion-div {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.form-btnBAD{
    background-color: grey;
    border:dotted grey 4px;
    color:red;
}