@import './landingPageLogin/landingPageLogin.css';
@import './landingPageSignup/landingPageSignup.css';

.landingPage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
/* margin: 10px; */
    background: whitesmoke;

}

.statement {
    font-size: x-large;
    margin-top: 50px;
}

.leftheader {
    font-size: 65px;
    color: rgb(213, 16, 213);
    margin-bottom: 50px;
    /* border: solid black 1px; */
    /* margin-bottom: 15px; */
}

.container-left {
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 50px;

}

.innerleft {
    width: 400px;
}







/* ###############################################################################################################
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% 
///////////////////////  Media Queries*/

/* need query for height also */

@media (max-width:900px) {
    .landingPage-container {
        flex-direction: column;
        height: auto;
    }
    .container-left {
        margin-left: 0px;
    }


}