.hobbycomponentcontainer {
    border: solid yellow 3px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .hobbycomponentcontainer h2 {
    font-size: x-large;
    color:black;
  }
  .hobbycomponentcontainer p{
    font-size: large;
    color:black;
  }
  