/* .friendscomponentcontainer {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: blue;
  }
  
  .friendscomponentcontainer h2 {
    font-size: x-large;
    color:black;
  }
  .friendscomponentcontainer p{
    font-size: large;
    color:black;
  }
   */

.friendscomponentcontainer {
  color: white;
  max-width: 100%;
}

.friendscomponentcontainer img {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;
  
}

.friendscomponentcontainer div {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: aliceblue;
  color: black;
  display: flex;
  align-items: center;
  padding: 10px;
  /* gap:30px; */

}

.friendLink{
  display: flex;

}

.friendCard{
  margin:1% ;
  box-shadow: 2px 2px 3px black;
}
.friendCard h4{
  align-self: center;
  margin-left:10px ;
}
.StatusDiv{
  width: 100%;
 align-self: self-end;
 display: flex;
}
.onlineStatus{
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  max-width: 0.3px;
  max-height: 0.3px;
  margin-left: 5px;
}