.searchContainer {
    width: 500px;
    border: solid rgba(128, 128, 128, 0.525) 1px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2) ;
   
}

.searchInput {}