.searchContainer {
    display: flex;
   
    /* border: solid rgba(128, 128, 128, 0.525) 1px; */

    /* border-radius: 10px; */
    /* box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2) ; */
    /* margin: 10px; */
   /* border: red solid 1px;  */
   width: 100%;
   margin-top: 10px;
}

.addpost {
    width: 100%;
}

.searchleft {
    display: flex;
    justify-content: flex-start;
    width: 70%;
    /* border: blue 1px solid; */
}

.searchright {
    display: flex;
    justify-content: flex-end;
    width: 30%;
    /* border: black 1px solid; */
}

.searchinput {
    margin-left: 10px;
 width: 95%;
background-color: rgba(128, 128, 128, 0.144);
padding: 10px;
border-radius: 20px;

/* margin-right: 12px; */
}

.inputbtn {

   margin-right: 8px;
    background: var(--blue-gradient);
    outline: none;
    border: none;
    color: white;
    padding: 9px;
    border-radius: 10px;
 
}

.inputbtn:hover {
    background-color: black;
}




