.friendsoutletcontainer {
  /* border: solid blue 2px; */
  background-color: rgba(128, 128, 128, 0.136);
  font-size: xx-large;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2) ;
}
/* .friendsoutletcontainer img {
  height: 100%;
  width: 100%;
  border: solid black;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
} */

.friendimages {
  height: 200px;
  width: 199px;
  /* border: solid black; */
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.friendrequests {
  /* border: solid yellow 2px; */
  /* background-color: blue; */
  font-size: larger;
  width: 100%;
  padding: 20px;
}
.requestsdiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pendingfriend {
  border: solid rgba(128, 128, 128, 0.458) 1px;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2) ;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: auto;
  width: 200px;
  margin: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.pendingfriendsbuttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 0 20px; */

}
.currentfriends {
  /* border: solid grey 2px; */
  /* background-color: green; */
  width: 100%;
}
.accepteddiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.acceptedfriend {
  border: solid rgba(128, 128, 128, 0.458) 1px;
  /* border: solid black; */
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2) ;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: auto;
  width: 200px;
  margin: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.acceptedfriendsbuttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.blockedlist {
  /* border: solid pink 2px; */
  width: 100%;
  /* background-color: orangered; */
  width: 100%;
}
.blockeddiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.blockedfriend {
  border: solid rgba(128, 128, 128, 0.458) 1px;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2) ;
  display: flex;
  flex-direction: column;
  /* background-color: green; */
  height: 300px;
  width: 200px;
  margin: 50px;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
}
.blockedfriendsbuttons {
  align-items: center;
  justify-content: center;
}


.FS {
  margin-left: 20px;
}

.line {
  color: rgba(128, 128, 128, 0.219);
  width: 95%;
  margin: 10px;
}

.name1 {
  margin: 10px;
  width: 100%;
  font-size: large;
  font-weight: bold;
  text-align: center;
}

.btn {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--blue-gradient);
  padding: 5px;
  color: white;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 150px;
  font-weight: bold;
}

.btn1 {
  /* margin: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 5px;
  color: rgb(214, 10, 214);
  border-radius: 5px;
  outline: none;
  border: none;
  width: 150px;
  font-weight: bold;
  margin-bottom: 10px;
}

.btn:hover {
  background-color:black;
}

.btn1:hover {
  background: var(--blue-gradient);
  color: white;
}