.FC {
    border: solid 1px rgba(128, 128, 128, 0.203);
    margin: 10px;
    padding: 10px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2) ;
    border-radius: 10px;
    width: 500px;
   
}

.userpost {
display: flex;
}

.friendimg {
    width: 50px;
    height: 50px;
    border: solid 1px gray;
    border-radius: 50%;
}

.nametime {

}

.name {
    font-weight: bold;
    margin: 2px;
}

.time {
color: rgba(128, 128, 128, 0.618);
font-size: small;
margin-top: 8px;
margin-left: 2px;
}

.feedtext {
    font-size: large;
}

.close {
    color: gray;
    font-size: x-large;
}

.line {
    color: rgba(128, 128, 128, 0.366);
  
}

.likecomment {
    display: flex;

}

.like {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-size: x-large;
    color: gray;
}

.addcomment {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.comment {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: x-large;
    color: gray;
}  

.userimg {
    width: 40px;
    height: 40px;
    border: solid 1px gray;
    border-radius: 50%;
    margin: 5px;
}

.input1 {
    width: 90%;
    height: 40px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: rgba(128, 128, 128, 0.118);
}


@media (max-width: 600px) {
    
.FC {
    width: 350px;
}

}