.LeftSideNavContainer {
    /* background-color: rgb(60, 205, 16); */
    background-color:white;
    grid-area: lft;
    border: none;
    /* margin-right:10px; */
}

.MainContentContainer {
    background-color: whitesmoke;
    grid-area: mid;
    overflow-y: auto;
    border-left: 1px solid var(--primary);
    border-right: 1px solid var(--primary);
    min-height: 0;

    /* margin: 5px 10px; */
}
.MainContentContainer::-webkit-scrollbar {
    display: none;
}
.RightSideContainer {
    /* background-color: rgb(131, 20, 24); */
    background-color:white;
    border: none;
    /* box-shadow: -2px -2px 3px var(--primary); */
   grid-area: rht;
   /* margin-left:10px; */
}
.profile{
    min-width: 100%;
    min-height: 100%;
}