

.navbar {
  background-color: white;
  display: flex;
  width: 100%;
  /* border: solid 1px black; */
  height: 60px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2) ;
margin-bottom: 10px;
  
}

.logo1 {
  width: 50px;
  height: 50px;
  margin: 5px;
}

.left-nav {
  width: 100%;
display: flex;
align-items: center;
justify-content: flex-start;
}

.right-nav {
  width: 100%;
display: flex;
justify-content: flex-end;
align-items: center;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background: var(--blue-gradient);
  border-radius: 50%;
  margin: 5px;
}

/* .circle1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background: var(--blue-gradient);
  border-radius: 50%;
  margin: 5px;
} */

.numberbadge {
  position: absolute;
  z-index: 5;
  margin-left: 30px;
  margin-bottom: 30px;
  width: 18px;
  height: 18px;
  /* border: solid 1px red; */
  background-color: rgba(255, 0, 0, 0.762);
  border-radius: 50%;
  color: white;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* .circle1 {

  height: 55px;
  width: 55px;
 border: 1px solid;
  border-radius: 50%;
  margin: 2px;
} */

.search {
  width: 225px;
  margin: 5px;
  height: 40px;
  border-radius: 30px;
  outline: none;
  font-size: large;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.13);
  border: none;
}

.search2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  margin: 5px;
  height: 40px;
  border-radius: 30px;
  outline: none;
  font-size: large;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.13);
  color: gray;
  border: none;
}


.logo {
  color: white;
  text-align: center;
  font-size: xx-large;
  font-family: sans-serif;
  font-weight: bolder;
}

.middle-nav {
width: 100%;
display: flex;
}

.img1 {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 4px;
}

.middle-left-nav {
width: 100%;
display: flex;
justify-content: flex-end;
align-items: center;
}

.middle-right-nav {
  width: 100%;
display: flex;
justify-content: flex-start;
align-items: center;
}

.icon {
  color: white;
  font-size: x-large;
}

.search1 {
  width: 100px;
  margin: 10px;
  height: 40px;
  background-color: rgba(128, 128, 128, 0.258);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.circle:active {
  background-color: black;
}


.circle:hover {
background-color: black;
}

.icon:active {
  color: black;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%
}



@media screen and (max-width: 600px) {
  .search {
      display: none;
  }

  .middle-nav {
      display: none;
  }

  .search1 {
      display: none;
  }

  .dots {
      display: none;
  }
}

@media (min-width: 600px) {
  .search2 {
      display: none;
  }

  .add {
      display: none;
  }


}