.commentinput {
    width: 80%;
    outline: none;
    padding: 5px;
    border-radius: 15px;
    border: none;
    background-color: rgba(128, 128, 128, 0.19);
}

.commentbtn {
    padding: 5px;
    color: white;
    background: var(--blue-gradient);
    border: none;
    border-radius: 20px;
    margin-left: 10px;
}
